<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Document</title>
</head>
<body>
  <div class="flex items-center justify-center h-screen flex-col">
    <h1 class="text-yellow-200 mb-3">Find The Length of any YouTubePlaylist</h1>
    <form action="getPlaylistData" method="GET" class="flex flex-row gap-3">
      <input type="text" name="Link" placeholder="Enter the YT Playlist link here" autocomplete="off" class="h-8 w-[250px] md:w-[400px]">
      <button type="submit" name="submit-button" class="bg-white text-black h-8 md:w-20">Calculate</button>
    </form>

    <div class="results mt-6">
      <p class="text-yellow-300"><%= locals.errMess %> </p>
      <% if (locals.Time4 !== undefined) { %>
        <p class="text-yellow-300">Number of Videos: <%= locals.totalResults %> </p>
        <p class="text-yellow-300">Average length of a video: <%= locals.Time4 %> </p>
        <p class="text-yellow-300">At Normal speed: <%= locals.Time1 %> </p>
        <p class="text-yellow-300">At 1.5x speed: <%= locals.Time2 %> </p>
        <p class="text-yellow-300">At 2x speed: <%= locals.Time3 %> </p>
      <% } %>
    </div>
  </div>
  <div class="flex justify-center items-center relative bottom-10">
    <p class="text-indigo-100">Made with ❤️ by <a href="https://lakpareek.github.io/Lakshay-Portfolio/" class="text-lime-200">Lakshay Pareek</a></p>
  </div>
</body>
</html>